@namespace R5T.R0006


<html>
    <head>
        @this.Head
    </head>
    <body>
        @this.Body
    </body>
</html>


@code {
    [Parameter]
    public RenderFragment Head { get; set; }

    [Parameter]
    public RenderFragment Body { get; set; }
}
