@namespace R5T.R0006

@using Microsoft.AspNetCore.Components.Web


<button
    class="@this.CssClass"
    @onclick="this.OnClick">
    @this.Text
</button>

@code{
    /// <summary>
    /// The action to perform upon click.
    /// </summary>
    [Parameter]
    public Action<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string CssClass { get; set; }
}
