@*Namespace specified in directory-level _Imports.razor.*@

@inherits ButtonBase


<button
    type="button"
    disabled="@this.Disabled"
    class="@this.CssClass"
    @onclick=this.OnClick
>
    @this.ChildContent
</button>


@code{
    
}
